*,
*.html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background: url("./images/Object.png");
  background-size: cover;
  background-position: center;
  height: 1093px;
  width: 100vw;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 171.59px;
  height: 29.48px;
  width: 167.02px;
  position: relative;
}
.header__logo img {
  height: 29.48px;
  width: 167.02px;
  position: absolute;
  top: 50.02px;
}
.nav__links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin-left: 1041px;
  height: 15px;
  width: 234px;
  position: relative;
  top: 26.02px;
}
.nav__links a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
.nav__links li {
  list-style: none;
}
.section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 221px;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 20px;
}
.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 2.5rem;
  color: #ffffff;
  top: 221px;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 260px;
}
.header__btn button {
  background-color: #c271ff;
  width: 162px;
  height: 44px;
  border-radius: 5rem;
  border: none;
  line-height: 24px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.header__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 400px;
  font-size: 1.3rem;
  color: #ffffff;
}
.header__h1 span {
  color: #c271ff;
}
.header__pros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 550px;
  gap: 5rem;
  color: #ffffff;
}
.phillip__details,
.bruce__details,
.nannie__details,
.henry__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
}
.span {
  position: relative;
  margin: 0 auto;
}
.details__h2 {
  font-size: 14px;
}
main {
  width: 100vw;
}
.section__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  background-color: #c271ff;
  height: 392px;
  gap: 4rem;
  color: #ffffff;
  width: 100vw;
}
blockquote p {
  line-height: 1.3rem;
}
.person__details {
  position: inherit;
  margin-top: 20px;
}
.person__details h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 300px;
}
.videos__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50px;
}
.videos__header h1 {
  font-weight: 400;
  font-size: 2rem;
}
.videos__header span {
  color: #c271ff;
  font-weight: 800;
}
.videos__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 150px;
  gap: 5rem;
}
.videos__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.play__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.play__btn img {
  position: absolute;
  top: 45px;
}
.video__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 255px;
  height: 335px;
}
.video__detail h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
.video__detail p {
  font-size: 14px;
  line-height: 1.3rem;
}
.person__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 5px auto;
  margin-right: 20rem;
  width: 255px;
}
.person__name h3 {
  color: #c271ff;
}
.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  width: 255px;
  margin-top: 5px;
}
.membership {
  background-color: #071629;
  height: 502px;
  width: 100vw;
}
.membership__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
  top: 50px;
}
.membership__header span {
  color: #c271ff;
}
.membership__smiley {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 150px;
  gap: 5rem;
  color: #ffffff;
}
.smiley__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 257px;
  position: relative;
}
.smiley__content h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.smiley__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
  width: 221px;
  line-height: 1.5rem;
}
.smiley__text span {
  margin-left: 5px;
}
.membership__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 250px;
}
.membership__btn button {
  background-color: #c271ff;
  width: 162px;
  height: 44px;
  border-radius: 5rem;
  border: none;
  line-height: 24px;
  cursor: pointer;
}
.faq__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50px;
  font-size: 2rem;
}
.faq__header h1 {
  font-weight: 400;
}
.faq__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  top: 100px;
  width: 920px;
  margin: 0 auto;
  gap: 10rem;
  height: 707px;
}
.faq__text h1 {
  font-size: 1.3rem;
  margin-top: 20px;
}
.faq__section-one,
.faq__section-two {
  margin-bottom: 5rem;
}
footer {
  height: 249px;
  width: 100vw;
  background-color: #071629;
}
.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 165px;
  position: relative;
  top: 95px;
  height: 30px;
  width: 169px;
}
.footer__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  top: 65px;
  margin-right: 170px;
}
.footer__copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 140px;
  color: #ffffff;
  font-size: 14px;
}
